<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body style="background-color:#e6e6fa;">
<div>
  <div class='center'>
    <div class='title'>Classify Dolphin Images</div>
    <p>
      Use images of:<br> <strong>0: 弗氏海豚（Lagenodelphis hoset）</strong> <br><strong>1: 花紋海豚(Grampus griseus)</strong><br> <strong>2: 瓶鼻海豚 (Tursiops truncatus)</strong><br><strong>3: 紅瓶鼻海豚 (pink dolphin)</strong><br><strong>4: 大西洋黑白海豚（Cephalorhynchus hectori）</strong>       
    </p>
    
    <div>
    <img scr="https://drive.google.com/uc?export=view&id=1p_Dgo3VLpzrTuXhOtdFJ4tHg2Su4fGuH">
    </div>
      
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
